[user]
	name = yosuke0315
	email = wonderfulworld0315@gmail.com
[alias]
	co = checkout
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = /Users/obatayousuke/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = current
[ghq]
	root = ~/.ghq
[github-nippou]
	user = yosuke0315
	token = c7e356342645b930b7039628b85ea42e72b438d6
