"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    defaultInputValue: "Project root"
  "atom-ternjs":
    useSnippets: true
  "autocomplete-ctags":
    minimumPrefixLength: 2
  "autocomplete-plus":
    minimumWordLength: 1
  "autocomplete-ruby": {}
  autosave:
    enabled: true
  core:
    audioBeep: false
    disabledPackages: [
      "vim-mode"
      "sync-settings"
      "autocomplete-go"
      "builder-go"
      "go-config"
      "go-get"
      "go-plus"
      "gofmt"
      "gometalinter-linter"
      "gorename"
      "navigator-godef"
      "tester-go"
      "language-gfm"
      "atom-ctags"
      "spell-check"
      "linter"
      "react"
      "react-snippets"
      "auto-encoding"
      "autocomplete-elixir"
      "atom-ternjs"
      "css-snippets"
      "environment"
      "language-elixir"
      "minimap"
      "minimap-git-diff"
    ]
    followSymlinks: false
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "symbols-view"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    autoIndent: true
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    confirmCheckoutHeadRevision: false
    fontSize: 15
    invisibles:
      tab: "·"
    preferredLineLength: 128
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "5cbdbbef-3435-207a-5ec9-b94dc729fc98"
  "file-types":
    erb: "text.html.ruby"
    rb: "source.ruby.rails"
    "js.erb": "source.js"
  "goto-definition": {}
  "highlight-selected":
    hideHighlightOnSelectedWord: true
  "japanese-wrap":
    characterWidth: {}
  linter: {}
  "markdown-pdf": {}
  "markdown-preview":
    useGitHubStyle: true
  "merge-conflicts": {}
  minimap:
    autoToggle: false
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
    useHardwareAcceleration: false
  "one-dark-ui":
    layoutMode: "Compact"
  "open-recent":
    listDirectoriesAddedToProject: true
  react: {}
  "rubocop-auto-correct":
    correctFile: true
  "ruby-block":
    highlightLineNumber: true
  "status-bar": {}
  "symbols-tree-view":
    scrollAnimation: false
  "sync-settings":
    _analyticsUserId: "7400874a-5cbd-4d2a-bd6a-77b6969cc9fc"
    _lastBackupHash: "8af268b055de4250f95b8dd62c18cb85051fa5c2"
    gistId: "e65d7744d3af74155f82"
    personalAccessToken: "8d753acb30208432d95a41b95f1a723897d42d99"
  tabs: {}
  term2: {}
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    keepMarkdownLineBreakWhitespace: false
".coffee.jsx.source":
  editor:
    preferredLineLength: 130
".css.less.source":
  editor:
    preferredLineLength: 130
".elixir.html.text":
  editor:
    preferredLineLength: 128
".elixir.source":
  editor:
    preferredLineLength: 128
".elixir.text":
  editor:
    preferredLineLength: 128
".js.jsx.source":
  editor:
    preferredLineLength: 130
".json.source":
  editor:
    preferredLineLength: 130
".md.text":
  editor:
    preferredLineLength: 128
".source.sql":
  editor:
    preferredLineLength: 130
