"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    defaultInputValue: "Project root"
  "atom-material-ui":
    colors:
      abaseColor: "#7e57c2"
      accentColor: "#b0e457"
      predefinedColor: "Purple"
    fonts: {}
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      animations: false
      panelContrast: true
      panelShadows: true
  "atom-ternjs":
    useSnippets: true
  "autocomplete-ctags":
    minimumPrefixLength: 2
  "autocomplete-plus":
    confirmCompletion: "enter"
    minimumWordLength: 1
    useCoreMovementCommands: false
  autosave:
    enabled: true
  core:
    audioBeep: false
    automaticallyUpdate: false
    disabledPackages: [
      "vim-mode"
      "atom-ctags"
      "spell-check"
      "react"
      "react-snippets"
      "autocomplete-elixir"
      "language-elixir"
      "go-plus"
      "autocomplete-paths"
    ]
    followSymlinks: false
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "symbols-view"
    ]
    projectHome: "/Users/obatayousuke/Develop/AtomPackages"
    telemetryConsent: "limited"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  editor:
    autoIndent: true
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    confirmCheckoutHeadRevision: false
    fontSize: 16
    invisibles:
      tab: "·"
    preferredLineLength: 128
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "5cbdbbef-3435-207a-5ec9-b94dc729fc98"
  "file-types":
    "coffee.erb": "source.coffee"
    erb: "text.html.ruby"
    "js.erb": "source.js"
    rb: "source.ruby.rails"
  "git-log":
    fontScale: 0.9
  "goto-definition": {}
  "highlight-selected":
    hideHighlightOnSelectedWord: true
  "japanese-wrap":
    characterWidth: {}
  "language-markdown":
    disableLanguageGfm: false
  linter: {}
  "linter-erb": {}
  "linter-matlab": {}
  "linter-sass-lint": {}
  "linter-ui-default":
    showPanel: true
  "markdown-pdf": {}
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "markdown-preview-plus":
    breakOnSingleNewline: true
    useGitHubStyle: true
    useLazyHeaders: false
  "merge-conflicts": {}
  minimap:
    autoToggle: false
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
    useHardwareAcceleration: false
  "nord-atom-syntax":
    accessibility: {}
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "one-dark-ui":
    fontSize: 10
    layoutMode: "Compact"
  "open-recent":
    listDirectoriesAddedToProject: true
  react: {}
  "rubocop-auto-correct":
    correctFile: true
  "ruby-block":
    highlightLineNumber: true
  "status-bar": {}
  "symbols-tree-view":
    scrollAnimation: false
  tabs: {}
  term2: {}
  "tidy-markdown":
    ensureFirstHeaderIsH1: false
  "tree-view": {}
  "vim-mode-plus":
    clearMultipleCursorsOnEscapeInsertMode: true
    incrementalSearch: true
    setCursorToStartOfChangeOnUndoRedo: false
    setCursorToStartOfChangeOnUndoRedoStrategy: "simple"
    useClipboardAsDefaultRegister: false
  welcome:
    showOnStartup: false
  whitespace:
    keepMarkdownLineBreakWhitespace: false
".coffee.jsx.source":
  editor:
    preferredLineLength: 130
".css.less.source":
  editor:
    preferredLineLength: 130
".elixir.html.text":
  editor:
    preferredLineLength: 128
".elixir.source":
  editor:
    preferredLineLength: 128
".elixir.text":
  editor:
    preferredLineLength: 128
".js.jsx.source":
  editor:
    preferredLineLength: 130
".js.regexp.replacement.source":
  editor:
    tabLength: 4
".js.regexp.source":
  editor:
    tabLength: 4
".js.source":
  editor:
    tabLength: 4
".json.source":
  editor:
    preferredLineLength: 130
".md.text":
  editor:
    preferredLineLength: 128
".rspec.ruby.source":
  editor:
    scrollPastEnd: true
".source.sql":
  editor:
    preferredLineLength: 130
