# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson
'atom-text-editor:not([mini])':
  'cmd-l': 'abort!'
  'cmd-q': 'abort!'
  'ctrl-b': 'abort!'

'body':
  'cmd-q cmd-q': 'application:quit'
  'shift-cmd-J': 'window:focus-next-pane'
  'tab': 'core:move-down'

'atom-workspace':
  'ctrl-i':     'cursor-history:next'
  'ctrl-o':     'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'
  'cmd-m': 'minimap:toggle'
  'shift-cmd-W': 'abort!'
  'cmd-r': 'window:reload'
  'shift-cmd-w': 'tree-view:toggle-focus'
  'ctrl-cmd-p': 'color-picker:open'

'body atom-text-editor.autocomplete-active':
  'tab': 'autocomplete-plus:move-down'
  'down': 'autocomplete-plus:move-down'
  'up': 'autocomplete-plus:move-up'

'.platform-darwin atom-text-editor':
  'shift-cmd-V': 'pane:split-right-and-copy-active-item'
  'ctrl-cmd-v': 'pane:split-left'
  'alt-g': 'inline-git-diff:toggle'

'atom-workspace atom-text-editor:not([mini])':
  'shift-cmd-D': 'pane:split-down-and-copy-active-item'
  'alt-cmd-up': 'editor:move-line-up'
  'alt-cmd-down': 'editor:move-line-down'
  'cmd-l': 'git-log:show'
  'shift-cmd-C': 'copy-path:copy-project-relative-path'
  'ctrl-b': 'blame:toggle'

'.platform-darwin':
  'ctrl-cmd-w': 'tree-view:toggle-focus'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-w': 'vim-mode-plus:mini-scroll-up'

'atom-text-editor[data-grammar="text md"]':
  'cmd-k': 'markdown:link'
